<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>GitFolio</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <button type="button" class="btn btn-link" ><a href="/content/index">로그인</a></button><br>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

  

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">gitfolio 장점</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="material-icons" style="font-size:100px;">
                assignment_ind
              </i>
              <h3 class="mb-3">간단한 이력서</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
               <i class="material-icons" style="font-size:100px">
                get_app
               </i>              
               <h3 class="mb-3">간편하게 정보 가져옴</h3>
              <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
             <i class="material-icons" style="font-size:100px">
                face
               </i>  
              <h3 class="mb-3">누구나 사용 가능</h3>
              <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="material-icons" style="font-size:100px">
                dashboard
               </i>  
              <h3 class="mb-3">디자인 안해도 됨</h3>
              <p class="text-muted mb-0">You have to make your websites with love these days!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Made by 제주많은소녀들</h2>
            <hr class="my-4">
            <p class="mb-5">멋쟁이 사자처럼 6기, 인하대학교</p>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col"> <img src=<%= asset_path 'DSC01965.JPG'%> alt="얼굴" height="120px" width ="120px" style="border-radius: 70px">
                    <br><p>HanbiKim</p>
                    <i class="material-icons">
                      info</i><p>https://github.com/hanbi97</p>
                  </div>
                  <div class="col"> <img src="C:\Users\Rain\Desktop\ddd.jpg" alt="얼굴" height="120px" width ="120px" style="border-radius: 70px">
                    <p>이름 같은 개인정보</p>
                    <p>깃헙주소</p>
                  </div>
                  <div class="col"> <img src="C:\Users\Rain\Desktop\ddd.jpg" alt="얼굴" height="120px" width ="120px" style="border-radius: 70px">
                    <p>이름 같은 개인정보</p>
                    <p>깃헙주소</p>
                  </div>
                  <div class="col"> <img src="C:\Users\Rain\Desktop\ddd.jpg" alt="얼굴" height="120px" width ="120px" style="border-radius: 70px">
                    <p>이름 같은 개인정보</p>
                    <p>깃헙주소</p>
                  </div>
                  <div class="col"> <img src="C:\Users\Rain\Desktop\ddd.jpg" alt="얼굴" height="120px" width ="120px" style="border-radius: 70px">
                    <p>이름 같은 개인정보</p>
                    <p>깃헙주소</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
     </section>
</body>
</html>