.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $secondary;
  color: $white;
}

.copyright {
  background-color: darken($secondary, 10%);
}



.footer{
    a{
        color: #ffffff;
        &:hover {
            color:#222;
        }
    }
        small{
        float:left;
        
    }
    ul {
        float:right;
        list-style:none;
        li {
            float:left;
            margin-left:15px;
        }
    }
} 