<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Document</title>
<link rel = "stylesheet" type="text/css" href="content.scss">
<style>
    .back_container{
    position: relative;
    text-align : left;
}
.face{
    position: relative;
    left:10px; /*+수 커질수록 밑으로 내려감*/
    top:-60px;
    text-align : center;
}
.aa{
    margin-top:100px;
    text-align : center;
}
</style>
</head>

<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

    <div class="back_container">
     <img src=<%= asset_path 'ddd.jpg'%> alt=" 배경사진 " height="300px" width="1280px">
    </div>
    <div class = "face ">   
    <img class = "face_image" src=<%= asset_path 'DSC01965.JPG'%> alt="얼굴사진"height="120px" width ="120px" style="border-radius: 70px;">
    </div>
    
<div class="aa">
    <!--깃허브 아이디 입력폼 / 버튼 누르면 바로 자소서 페이지로 넘어가게 라우팅-->
     <form name="form_name" action="서버로 전송한 데이터를 수신할 URL" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       <input type="text" name="input_name" value="Github 아이디를 입력하세요.">
       <input type="submit" name="input_name" value="입력">
     </form>
</div>

</body>

</html>